# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-electron
dist-ssr
release
*.local
package-lock.json

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Environment
.env
.env.local
